h2{
    display: flex;
    justify-content: center;
}
.requisito{
    margin-bottom: 3%;
    margin-left: 38%;
}
.bot{
    margin-left: 45%;
}
.contraseña{
    display: flex;
    justify-content: center;
}
.contra{
    margin-left: 3%;
}
.input{
    width: 5%;
}